.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-main-content {
  padding-top: 40px;
}

.app-main-header {
  display: flex;
  justify-content: center;
  color: red;
}

.app-main-header h2 {
  font-size: 72px;
}

.app-main-text {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.app-main-hidden-content {
  display: flex;
  justify-content: center;
  font-size: 42px;
  padding: 30px 0;
  height: 0;
  text-decoration: underline;
  text-decoration-color: #007bff;
}

.app-main-logo {
  text-align: center;
}

.slider {
  animation-name: slider;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

ReactTransitionGroup {
  display: flex;
  justify-content: center;
  font-size: 42px;
}

@keyframes slider {
  0% {
    height: 0;
    transform: scale(0);
  }
  100% {
    height: auto;
    transform: scale(2.5);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
